.outer.container
  .row
    = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
      %ul.mt-3
        - @profile.errors.full_messages.each do |message|
          %li= message
      .form-signin
        .mb-4
          = f.label :avatar, 'アイコン'
          = f.file_field :avatar
        .mb-3
          = f.label :nickname, 'ニックネーム（表示名）', class: 'form-label'
          = f.text_field :nickname, class: 'form-control'
        .mb-3
          = f.label :introduction, '自己紹介'
          = f.text_area :introduction, class: 'form-control rich-text-area'
        = f.submit '送信する', class: "btn-blue-bc"
