- if @article
  - @articles.first(10).each do |article|
    %li.card.mb-3.is-active
      = link_to article_path(article) do
        .card-body
          %h3.card-title= article.title.truncate(20)
          %p.card-text!= article.content
          .link-btn-wrapper
            .like-btn
              - if article.likes_count == 0
                = image_tag 'heart.svg', class: 'like-button-img'
              - else
                = image_tag 'heart-active.svg', class: 'like-button-img'
            %span{id: "article-likes-#{article.id}"}= article.likes_count
          %p.card-time-text= "#{time_ago_in_words(article.created_at)}前"
      .card-footer
        .card-footer-left
          %p= nickname_or_name(article) 
          = link_to user_path(@article.user_id) do
            = image_tag article.user.avatar_image, alt: 'アイコン', class: 'avatar'
