.outer.container
  .row
    .form-signin
      .devise-form
        %h1.h3.mb-3.fw-normal ログイン
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form-item
            = f.label :Email
            = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', id: 'floatingInput'
          .form-item
            = f.label :password
            = f.password_field :password, autocomplete: "current-password", class: 'form-control', id: 'floatingPassword'
          .actions.w-100.btn-square
            = f.submit "ログイン"
        = render "devise/shared/links"
